<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lot Sections</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list *ngFor="let region of regions">
      <ion-header>
        {{ region.name }}
      </ion-header>
      <ion-item *ngFor="let lot of region.lots">
        {{ lot.name }}
      </ion-item>
    </ion-list>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
